<h1>Welcome1 </h1>
<h2>You're in Tweets/_feed</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-2"><!-- Column 1 -->
      One of three columns
    </div> <!-- Column 1 -->
    <div class="col-sm-8"> <!-- Column 2 -->
      <h1>two of three columns</h1>
      <div class="card">
	<h5 class="card-header">Featured</h5>
	<div class="card-body">
	  <h5 class="card-title">Special title treatment</h5>
	  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	  <a href="#" class="btn btn-primary">Go somewhere</a>
	</div> <!-- end of card -->
      </div>
      </div<!-- column 2 -->
    </div>
    <div class="col-sm-2"> <!-- column 3 -->
      Three of three columns
    </div> <!-- Column 3 -->
  </div>
</div>
  


