<% if @tweet.errors.any? %>
<h2>The following errors prevented the tweet from being saved</h2>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul> 
<% end %>

<%= form_with(model: @tweet, local: true) do |f| %>
<div class="mb-3">
  <%= f.text_area :tweet, class: "form-control", placecholder: "What's happening" %>
</div>
<div class=>
  <%= f.submit "Tweet", class: "btn btn-primary" %>
</div><br>
<% end %>
