<h1>Continuen chicas</h1>

  <div class="container card">
    <div class="card-body">
      <text_area class="form-control" aria-label="With textarea">
	Write your tweet here
      </text_area>
      <buttom>This is some text within a card body.</buttom>
    </div>
  </div>

