<div class="container pt-4">
  <div class="row">
    <div class="col-3"><!-- Column 1 -->
      One of three columns
    </div> <!-- Column 1 -->
    <div class="col-6">
      <h1>two of three columns</h1>
      <%= render 'feed' %>
    </div><!-- Column 2 -->
    <div class="col-3"> <!-- column 3 -->
      Three of three columns
      <%= render 'profile' %>
    </div> <!-- Column 3 -->
  </div>
</div>
