<div class="card">
  <div class="card-header">
    <b>You followers</b>
  </div>
  <% current_user.followers.each do |follower| %>
  <div class="container pt-4 row">
    <div class="col-2"><%= follower.name %></div>
    <div class="col-1">@<%= follower.username %></div>
    <div class="col-1"><%= render partial: 'tweets/follow_button', locals: { user: follower } %></div>
  </div>
</div>
<% end %>

