<div class="container">
  <div class="row">
    <div class="col-sm-2"> 
      <%= render 'home/header' %>
    </div> <!-- column 1 -->
    <div class="col-sm-8">
      <%= controller.render 'tweets/index' %>
    </div> <!-- column 2 -->
    <div class="col-sm-2">
      <h1>Sotomayour</h1>
      <h1>Yesid</h1>
      <h1>Crespo</h1>   
      <h1>Emma</h1>
    </div> <!-- column 3 -->
  </div> <!-- row -->
</div> <!-- container -->
